.movies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    }
    
    .movie-card {
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);
        padding: 10px;
    }
    
    .movie-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
    
    button {
        margin-top: 10px;
    }
    